@import "tailwindcss";

@theme {
  --bg-bgColor: #f2f2f2;
  --bg-primay: #1055ff;
  --bg-primary-hover: #2073e9;
  --bg-dark: #352f36;
  --bg-lightGray: #7b7b7b;
  --bg-light: #fcfcf7;

  --color-bgColor: #f2f2f2;
  --color-primary: #1055ff;
  --color-primary-hover: #2073e9;
  --color-dark: #352f36;
  --color-lightGray: #7b7b7b;
  --color-light: #fcfcf7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  max-width: 1440px;
  min-height: 100dvh;
  line-height: 1.5;
  background-color: var(--bg-bgColor);
  margin: auto;
  border: 1px solid;
}

img {
  display: block;
  width: 100%;
}

input {
  border: none;
  outline: none;
}
